/* ==========================================================================
   squares.scss
   ========================================================================== */

.square-pink {
  background: #D83E6F;
  border-radius: 4px;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: -1px;
}